@import '../../variables.scss';  

.icon {
    background: $primary;
    display: inline-block;
    color:$color;
    border-radius: 50px;
    padding: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 15px;
    font-weight: bold;
    border: 1px solid lightgray;
    
    img{
        height: 100%;
        width: 100%;
    }
}