@import '../../variables.scss';  

.game-status{

    position: fixed;
    background: #03a9f46b;
    text-align: center;
    z-index: 999;
    height: 100%;
    width: 400px;


    .image-wrapper{
        height: 65%;
        img{
            width: 60%;
            padding: 20%;
        }
    }
    .info{
        .message{
            font-size: 30px;
            color: $color;
        }
    button{
        border-radius: 20px;
        color: #03a9f4;
        width: 80%;
        height: 40px;
        font-size: 20px;
        margin: 10px;
    }
}
}