@import '../../variables.scss';  

.header-component {
    background: $primary;
    color:$color;
    height: 80px;

    > div{
        display: inline-block;
    }

    .info{
        .username{
            font-size: 22px;
              margin-bottom: 5px;
          }
          .message{
            font-size: 12px;
             
          }
          
    }
    
}