@import '../../variables.scss';  

.message-item{

    &.right {
        direction: rtl;
    }
   .message{
        background: white;
        border-radius: 5px;
        padding: 10px;
        margin: 7px auto;
        width: 55%;
        direction: ltr;
   }
}